<div id="banner" class="cover_ahorro">
	<h1>Cálcula tu Ahorro </h1>
	<h3>Ahorra. Diseña. Aprende</h3>
</div>

<div id="lateral" class="wraper_wide">

	<div id="izq">
		<%= image_tag src="gear.jpg" %>
	</div>
	
	<div id="der">
		<h4>Te lo demostramos</h4>
		<p>¿Te preguntas cómo es que una mejor gestión de las flotillas pueda ayudar a tu empresa? ¡Te invitamos a utilizar nuestro calculador de ahorro! Con él te mostraremos el ahorro aproximado que podrás tener al utilizar nuestro sistema aplicado a tu flotilla.</p>
	</div>
<div class="clear"></div>
</div>

