<div id="banner" class="cover_ahorro">
	<h1>Cálcula tu Ahorro </h1>
	<h3>LO QUE NO SE MIDE, NO SE CONTROLA. LO QUE NO SE CONTROLA, NO SE MEJORA</h3>
</div>

<div class="container">
<div class="row">
<div id="texto" class="col-md-8 col-md-offset-2">
	<p>¿Tienes idea del ahorro que podrías tener en la gestión de tu flotilla si cuidaras a tus unidades y cómo se desempeñan? Estamos convencidos de que lo que no se mide no se controla, y lo que no se controla no se mejora. Te enseñamos, con esta herramienta, el ahorro que podrías tener si gestionaras tu flotilla con nuestro sistema</p>
</div>
</div>
</div>


<!-- cotizador  -->
<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3" id="cotiza">
<div class="titulos">
	<h1><strong>Calcula tu ahorro</strong></h1>
</div>
			<form>
				<label>¿Sabes cuál es el gasto mensual en Diesel? (MXN)</label> <br>
				<input type="number" id="gas" name="quantity"> <br>
				<label>¿Sabes cuál es el gasto de mantenimiento correctivo mensual? (MXN) </label> <br>
				<input type="number" id="man" name="quantity2"> <br><br><br>
				<button class="button button_red button_block" id="15">Quiero calcular mi ahorro</button>

			</form>
		</div>
	</div>
</div>


<div class="container"><div class="contar">
	<h1> Tu ahorro con nosotros es de <strong>
	 <%=
	 	x = (@q.to_f + @r.to_f)*12 

	 	x = x* 0.05

	 	x.round

	 	
	 	
	 %> </strong> anual </h1>
</div>
</div>

<div class="container"><div class="contar">
	<h1> Tu ahorro con nosotros es de <strong>
	 <%=
	 	x = (@q.to_f + @r.to_f)*36 

	 	x = x* 0.05

	 	x.round

	 	
	 	
	 %></strong>  al finalizar la metodología </h1>
</div>
</div>

<div class="container">
<div class="col-md-6 caja">
	<%= image_tag src="gear.jpg", :class =>"fot" %>
</div>



	<div class="col-md-6">
	<h3 class="tit"><strong>TE LO DEMOSTRAMOS</strong></h3>
	<p class="just">¿Te preguntas cómo es que una mejor gestión de las flotillas pueda ayudar a tu empresa? ¡Te invitamos a utilizar nuestro calculador de ahorro! Con él te mostraremos el ahorro aproximado que podrás tener al utilizar nuestro sistema aplicado a tu flotilla.</p>
	</div>
</div>

