<div id="banner" class="cover_home">
	<h1>Gestión de Flotas</h1>
	<h3>Ahorra. Diseña. Aprende</h3>
</div>



<!--  -->

<div id="lateral" class="wraper_wide">

	<div id="izq">
		<img src="assets/academy.jpg">
	</div>
	
	<div id="der">
		<h4>Titulo del apartado</h4>
		<p>Hola de nuevo, aquí estamos juntos para jugar, este es un texto de prueba para que podamo seguir intentando las cosas que no se ven pero es lo mas importante que hace unos diez años puede que pase ya sea por la gente que viene o por la que a veces siente necesidad de doctor como hace años que le dije al vecino de mi tia que puede ser que la vida me guie hasta el sol, puede que el año nuevo sea mejor</p>
	</div>
<div class="clear"></div>

</div>
	<!--  -->
	