<div id="banner" class="cover_clientes">
	<h1>Nuestros consentidos</h1>
</div>


<div class="container">
<div class="row">
<div id="texto" class="col-md-8 col-md-offset-2">
	<p>Para nosotros, tú y tu flotilla son lo más importante. Por eso te damos un espacio personalizado a través del cual podrás registrar el rendimiento de tus unidades para gestionarlas de la mejor manera.</p>
</div>
</div>
</div>


<!-- cotizador  -->
<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3" id="cotiza">
<div class="titulos">
	<h1><strong>Ingresa Ahora</strong></h1>
</div>
			<form>
				<label>Nombre de Usuario</label> <br>
				<input type="email" name="cliente"> <br>
				<label>Contraseña</label> <br>
				<input type="password" name="password"> <br>
				<div class="button button_red button_block bloque">Ingresar</div>

			</form>
		</div>
	</div>
</div>