<div id="banner" class="cover_clientes">
	<h1>Nuestros consentidos</h1>
	<h3>Ahorra. Diseña. Aprende</h3>
</div>


<div class="container">
<div class="row">
<div id="texto" class="col-md-8 col-md-offset-2">
	<p>Para nosotros, tú y tu flotilla son lo más importante. Por eso te damos un espacio personalizado a través del cual podrás registrar el rendimiento de tus unidades para gestionarlas de la mejor manera.</p>
</div>
</div>
</div>