<div id="banner" class="cover_home">
	<h1>Contáctanos Ahora </h1>
	<h3>Ahorra. Diseña. Aprende</h3>
</div>


<div class="wraper">
<h1>Graicas por comunicarte con nosotros</h1>
<p>En seguida nos ponemos en contacto contigo</p>





<div class="wraper_super_skiny">
<div id="nume">

<ul>
	<li>
		<h5>31</h5>
		<hr>
		<h6>kms recorridos</h6>
	</li>

		<li>
		<h5>150</h5>
		<hr>
		<h6>litros ahorrados</h6>
	</li>

		<li>
		<h5>$200,000</h5>
		<hr>
		<h6>pesos ahorrados</h6>
	</li>

</ul>

</div>
</div>